<h1>PRIMERA RONDA</h1>
<hr>
<!-- <button (click)="cambiarEstado()">CAMBIA LA SITUACIÓN</button>

<section>
    <p>{{txtGoldfish}}</p>

    <ng-container *ngIf="flgGoldfish; then salto; else dentro"></ng-container>
    <ng-template #salto>
        <img src="/img/jpg/gold_salto.jpg" width="250px" height="250px" alt="Goldfish saltando">
    </ng-template>
    <ng-template #dentro>
        <img src="/img/jpg/gold_dentro.jpg" width="250px" height="250px" alt="Goldfish sin hacer algo">
    </ng-template>
</section> -->

<app-usuario/>

<router-outlet />